<div class="register-container" data-aos="fade-up" data-aos-duration="1000">
  <h2 class="mb-5">{{ this.Data.title }}</h2>
  <form id="registerForm" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div *ngIf="deleteMode == false">
      <div class="input-group">
        <label class="mb-3 text-right">الاسم بالعربي</label>
        <input type="text" formControlName="name_ar" />
      </div>
      <div class="input-group">
        <label class="mb-3 text-right">الاسم بالانجليزية</label>
        <input type="text" formControlName="name_en" />
      </div>
      <div class="input-group">
        <label class="mb-3 text-right">الاسم بالصينية</label>
        <input type="text" formControlName="name_cn" />
      </div>
      <div class="actions pt-4">
        <button type="submit" class="btn btn-primary w-100 btn-lg">
          {{ this.Data.button }}
        </button>
      </div>
    </div>
    <div
      class="row d-flex justify-content-around align-items-center mt-5"
      *ngIf="deleteMode == true"
    >
      <button class="btn btn-danger col-4" (click)="delete()">
        <i class="fa fa-trash mr-2"></i>
        {{ this.Data.button }}
      </button>
      <button type="button" class="btn btn-dark col-4" (click)="close()">
        الغاء
      </button>
    </div>
  </form>
</div>
