<div class="container-fluid" *ngIf="known">
  <div class="row">
    <div class="col-md-12 py-5">
      <button class="btn btn-primary btn-lg" (click)="addCity()">
        <i class="fa fa-plus mr-2"></i>
        اضافة مدينة
      </button>
    </div>
    <div class="row w-100" *ngIf="cities?.length > 0 && this.no_data === false">
      <div class="col-md-offset-1 col-md-12">
        <div class="panel">
          <div class="panel-heading py-5 text-center">
            <div class="row">
              <div class="col col-sm-12 col-xs-12">
                <h4 class="title">
                  <span
                    >كل المدن المتاحة لدولة ({{ chossenCountry.name_ar }})</span
                  >
                </h4>
              </div>
            </div>
          </div>
          <div class="panel-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>اسم المدينة (بالعربي)</th>
                  <th>اسم المدينة (بالانجليزي)</th>
                  <th>اسم المدينة (بالصيني)</th>
                  <th>تعديل / حذف</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let city of cities; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ city.name_ar }}</td>
                  <td>{{ city.name_en }}</td>
                  <td>{{ city.name_cn }}</td>
                  <td>
                    <span>
                      <i
                        style="cursor: pointer"
                        class="fa fa-pencil text-warning"
                        (click)="editCity(city)"
                      ></i>
                    </span>
                    |
                    <span>
                      <i
                        style="cursor: pointer"
                        class="fa fa-trash text-danger"
                        (click)="deleteCity(city.id)"
                      ></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row w-100">
      <div class="col-md-12">
        <div class="card" *ngIf="cities?.length === 0 && no_data === true">
          <div class="card-body text-center">
            <img
              src="../../../assets/images/No data-amico.svg"
              alt=""
              class="w-25"
            />
            <h3 class="font-roboto fw-bold mt-3">لا يوجد مدن لهذه الدولة</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid h-100" *ngIf="!known">
  <main class="px-3 text-center py-5">
    <h1 class="mb-5">يجب عليك اختيار الدولة التى تريد المدن الخاصة بها</h1>

    <button [matMenuTriggerFor]="belowMenu" class="btn btn-primary btn-lg">
      اختر الدولة
    </button>

    <mat-menu #belowMenu="matMenu" yPosition="below">
      <ng-container
        *ngIf="countries && countries.length; else noCountriesTemplate"
      >
        <button
          mat-menu-item
          *ngFor="let country of countries; let i = $index"
          (click)="getAllCities(country)"
          class="text-center fw-bold"
        >
          {{ country.name_ar }}
        </button>
      </ng-container>

      <ng-template #noCountriesTemplate>
        <p class="no-data">لا توجد دول متاحة</p>
      </ng-template>
    </mat-menu>
  </main>
</div>
<app-placeholder
  *ngIf="showPlaceholder"
  [header]="['#', ' عربي', ' انجليزي', 'صيني', 'Action']"
></app-placeholder>
