<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="form-group">
                            <label for="">اسم الشحنة  العربية</label>
                            <input type="text" class="form-control" formControlName="name_ar">
                        </div>
                        <div class="form-group">
                            <label for="">اسم الشحنة الانجليزية</label>
                            <input type="text" class="form-control" formControlName="name_en">
                        </div>
                        <div class="form-group">
                            <label for="">سعر الجوي </label>
                            <input type="text" class="form-control" formControlName="plan_price">
                        </div>
                        <div class="form-group">
                            <label for="">سعر البحري</label>
                            <input type="text" class="form-control" formControlName="ship_price">
                        </div>

                        <div class="form-group text-center mt-5">
                            <button class="btn btn-primary" type="button" (click)="submit()">تعديل </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>