<section id="add-main-page" data-aos="fade-left">
  <!-- <div class="form-group">
        <label for=""> اسم الشركة </label>
        <select class="form-control p-1" (change)="getCompany($event.target.value)">
            <option></option>
            <option  [value]="company.id" *ngFor="let company of companies">{{ company.name_ar }}</option>
        </select>
    </div> -->

  <div class="container-fluid">
    <div class="row" *ngIf="orders?.data?.length != 0">
      <div class="row w-100">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-heading py-5 text-center">
              <div class="row">
                <div class="col col-sm-12 col-xs-12">
                  <h4 class="title">
                    <span> شحنات في ميناء المملكة تحت المراجعة الجمركية </span>
                  </h4>
                </div>
              </div>
            </div>
            <div class="panel-body table-responsive">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">رقم الطلب</th>
                    <th scope="col">اسم العميل</th>
                    <th scope="col">الايميل</th>
                    <th scope="col">رقم الهاتف</th>
                    <th scope="col">إعدادات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of orders?.data; let i = index">
                    <th scope="row" class="text-light">{{ i + 1 }}</th>
                    <td class="text-light">{{ order.order_refrence }}</td>
                    <td>{{ order.user.name }}</td>
                    <td>{{ order.user.email }}</td>
                    <td>{{ order.user.phone }}</td>
                    <td>
                      <span>
                        <i
                          style="cursor: pointer"
                          class="fas fa-check text-success"
                          (click)="changeStatus(order.id, 5, '')"
                        ></i>
                        |
                      </span>
                      <span>
                        <i
                          style="cursor: pointer"
                          class="fa fa-times text-danger"
                          (click)="cancelOrder(order.id, '')"
                        ></i>
                        |
                      </span>
                      <span>
                        <i
                          style="cursor: pointer"
                          class="fa fa-comment-o text-primary"
                          (click)="addNote(order.id)"
                        ></i>
                        |
                      </span>
                      <i
                        class="fas fa-eye text-success"
                        style="cursor: pointer"
                        (click)="viewOrder(order)"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-placeholder
      *ngIf="showPlaceholder"
      [header]="[
        '#',
        ' رقم الطلب',
        'اسم العميل',
        'الايميل',
        'رقم الهاتف',
        'إعدادات'
      ]"
    ></app-placeholder>
  </div>

  <div
    class="pagination justify-content-center"
    *ngIf="orders?.data?.length > 20"
  >
    <nav aria-label="Page navigation example" class="w-50 mx-auto">
      <ul class="pagination w-50 m-auto row">
        <li
          class="page-item col"
          (click)="clientList(orders?.current_page - 1, 1, this.active)"
        >
          <button class="btn btn-primary">السابق</button>
        </li>

        <li
          class="page-item col"
          (click)="clientList(orders?.current_page + 1, 1, this.active)"
        >
          <button class="btn btn-primary">التالي</button>
        </li>
      </ul>
    </nav>
  </div>
</section>

<section
  id="add-main-page"
  *ngIf="orders?.data?.length == 0 && !showPlaceholder"
>
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body text-center">
          <img
            src="../../../assets/images/No data-amico.svg"
            alt=""
            class="w-25"
          />
        </div>
      </div>
    </div>
  </div>
</section>
