<section id="add-main-page">
  <!-- <div class="form-group">
        <label for=""> اسم الشركة </label>
        <select class="form-control p-1" (change)="getCompany($event.target.value)">
            <option></option>
            <option  [value]="company.id" *ngFor="let company of companies">{{ company.name_ar }}</option>
        </select>
    </div> -->

  <div class="card" *ngIf="orders?.length != 0">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">رقم الطلب</th>
                <th scope="col">اسم العميل</th>
                <th scope="col">الايميل</th>
                <th scope="col">رقم الهاتف</th>

                <!-- <th scope="col"> الصورة</th> -->
                <th scope="col">حالة الدفع</th>

                <th scope="col">إعدادات</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders?.data; let i = index">
                <th scope="row">{{ order.order_refrence }}</th>

                <td>{{ order.user.name }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.user.phone }}</td>
                <td>
                  <span class="badge badge-success" *ngIf="order.remain == 0"
                    >Paid</span
                  >
                </td>
                <!-- <td> <img style="width: 50px;height: 50px;border-radius: 50%;" src="{{order.imagePath}}" onerror="this.src='assets/images/image-not-found.svg'" alt=""></td> -->
                <td>
                  <span *ngIf="order.remain == 0">
                    <i
                      style="cursor: pointer"
                      class="fas fa-check text-success"
                      (click)="changeStatus(order.id, 6, '')"
                    ></i>
                    |
                  </span>

                  <span> </span>
                  <span>
                    <i
                      style="cursor: pointer"
                      class="fa fa-times text-dager"
                      (click)="cancelOrder(order.id, '')"
                    ></i>
                    |
                  </span>

                  <span>
                    <i
                      style="cursor: pointer"
                      class="fa fa-comment-o text-primary"
                      (click)="addNote(order.id)"
                    ></i>
                    |
                  </span>

                  <i
                    class="fas fa-eye text-success"
                    style="cursor: pointer"
                    (click)="viewOrder(order)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div
    class="pagination justify-content-center"
    *ngIf="orders?.data.length > 0"
  >
    <nav aria-label="Page navigation example" class="w-50 mx-auto">
      <ul class="pagination w-50 m-auto row">
        <li
          class="page-item col"
          (click)="clientList(orders?.current_page - 1, 1, this.active)"
        >
          <button class="btn btn-primary">السابق</button>
        </li>

        <li
          class="page-item col"
          (click)="clientList(orders?.current_page + 1, 1, this.active)"
        >
          <button class="btn btn-primary">التالي</button>
        </li>
      </ul>
    </nav>
  </div>
</section>

<section id="add-main-page" *ngIf="orders?.data.length == 0">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body text-center">
          <h1>لم يتم إضافة أي طلبات في مستودع السعوديه بعد</h1>
        </div>
      </div>
    </div>
  </div>
</section>
