<section id="add-main-page" data-aos="fade-left">
  <div class="container-fluid">
    <div class="row">
      <div class="row w-100">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-heading py-5 text-center">
              <div class="row">
                <div class="col col-sm-12 col-xs-12">
                  <h4 class="title"><span>أراء العملاء</span></h4>
                </div>
              </div>
            </div>
            <div class="panel-body table-responsive">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">الاسم</th>
                    <th scope="col">الوصف</th>

                    <th scope="col">الاجراءات</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of testmoinals; let i = index">
                    <th scope="row" class="text-light">{{ i + 1 }}</th>
                    <td>{{ user?.name_ar }}</td>
                    <td>{{ user?.description }}</td>

                    <td>
                      <i
                        [class]="
                          user?.in_home == 1 ? 'fas fa-star' : 'fa fa-star-o'
                        "
                        class="gold"
                        style="cursor: pointer"
                        (click)="addToHome(user)"
                      ></i>
                      |
                      <i
                        class="fas fa-trash text-danger"
                        style="cursor: pointer"
                        (click)="deleteTest(user.id)"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-placeholder
      *ngIf="showPlaceholder"
      [header]="[
        '#',
        ' رقم الطلب',
        'اسم العميل',
        'الإيميل',
        'رقم الهاتف',
        'حالة الدفع',
        'إعدادات'
      ]"
    ></app-placeholder>
  </div>

  <!-- <div
    class="pagination justify-content-center py-4"
    *ngIf="testmoinals?.data?.length > 16"
  >
    <nav aria-label="Page navigation example" class="w-50 mx-auto">
      <ul class="pagination w-50 m-auto row">
        <li
          class="page-item col"
          (click)="getTestmonials(testmoinals?.current_page - 1)"
        >
          <button class="btn btn-primary">السابق</button>
        </li>

        <li
          class="page-item col"
          (click)="getTestmonials(testmoinals?.current_page + 1)"
        >
          <button class="btn btn-primary">التالي</button>
        </li>
      </ul>
    </nav>
  </div> -->
</section>
