<section id="add-main-page" data-aos="fade-left">
  <div class="container-fluid">
    <div class="row" *ngIf="shippment?.data?.length > 0">
      <div class="row w-100">
        <div class="col-md-12">
          <div class="panel">
            <div class="panel-heading py-5 text-center">
              <div class="row">
                <div class="col col-sm-12 col-xs-12">
                  <h4 class="title"><span>كل التحويلات </span></h4>
                </div>
              </div>
            </div>
            <div class="panel-body table-responsive">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">رقم</th>
                    <th scope="col">اسم المستخدم</th>
                    <th scope="col">رقم الهاتف</th>
                    <th scope="col">تاريخ التحويل</th>
                    <th scope="col">المبلغ المدفوع</th>
                    <th scope="col">المبلغ المتبقي</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let shippmento of shippment?.data; let i = index">
                    <td scope="col" >{{ i + 1 }}</td>
                    <td>{{ shippmento.user.name }}</td>
                    <td>{{ shippmento.user.phone }}</td>
                    <td>{{ shippmento.created_at | date }}</td>
                    <td>{{ shippmento.payed }}</td>
                    <td>{{ shippmento.order?.remain }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-placeholder
      *ngIf="showPlaceholder"
      [header]="[
        '#',
        ' رقم الطلب',
        'اسم العميل',
        'الإيميل',
        'رقم الهاتف',
        'حالة الدفع',
        'إعدادات'
      ]"
    ></app-placeholder>
  </div>

  <div
    class="pagination justify-content-center py-4"
    *ngIf="shippment?.data?.length > 20"
  >
    <nav aria-label="Page navigation example" class="w-50 mx-auto">
      <ul class="pagination w-50 m-auto row">
        <li
          class="page-item col"
          (click)="allTransactions(shippment?.current_page - 1)"
        >
          <button class="btn btn-primary">السابق</button>
        </li>

        <li
          class="page-item col"
          (click)="allTransactions(shippment?.current_page + 1)"
        >
          <button class="btn btn-primary">التالي</button>
        </li>
      </ul>
    </nav>
  </div>
</section>
