<section id="add-main-page">
    <div class="card">
        <div class="row">
            <div class="col-md-12 position-relative">
                <table class="table table-striped mt-5">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"> رقم </th>
                            <th scope="col"> اسم المستخدم </th>
                            <th scope="col"> رقم الهاتف </th>
                            <th scope="col">تاريخ التحويل</th>


                            <th scope="col"> المبلغ المدفوع </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shippmento of shippment?.data ;let i=index">
                            <th scope="col"> {{i+1}} </th>
                            <td>{{shippmento.user.name}}</td>
                            <td> {{shippmento.user.phone}}</td>
                            <td> {{shippmento.created_at | date}}</td>
                            <td> {{shippmento.payed}}</td>



                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pagination justify-content-center" >
        <nav aria-label="Page navigation example">
          <ul class="pagination ">
            <li class="page-item" (click)="allTransactions(shippment?.current_page - 1)"><a class="page-link text-success">Previous</a></li>
            <li
              class="page-item "
              *ngFor="let order of shippment?.links; let i = index"
              (click)="allTransactions(i + 1)"
              
            >
              <a class="page-link text-success" [class]="shippment?.current_page == i + 1 ? 'page-active' : ''">{{ i + 1 }} </a>
              
            </li>
  
            <li class="page-item " (click)="allTransactions(shippment?.current_page + 1)"><a class="page-link text-success">Next</a></li>
          </ul>
        </nav>
      </div>

</section>