// @import '~ngx-toastr/toastr';
@import "ngx-toastr/toastr";
$ph-direction: ltr !default;
$ph-bg: #fff !default;
$ph-color: #ced4da !default;
$ph-border: 1px solid darken($ph-bg, 10%) !default;
$ph-border-radius: 2px !default;

$ph-cols: 12 !default;
$ph-cols-remove-odd: true !default;
$ph-gutter: 30px !default;
$ph-spacer: 15px !default;

$ph-avatar-border-radius: 50% !default;

$ph-animation-duration: 0.8s !default;
:root {
  --bg: #000000;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}
@font-face {
  font-family: "Noto Sans Kufi Arabic";
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/custom/ArbFONTS-NotoKufiArabic-Regular.ttf);
}
@font-face {
  font-family: "Noto Sans Kufi Arabic";
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/custom/ArbFONTS-NotoKufiArabic-Bold.ttf);
}
@import "aos/dist/aos.css";
html:lang(ar) {
  body,
  html,
  mat-form-field {
    font-family: "Noto Sans Kufi Arabic", Courier, monospace !important;
    direction: rtl;
    text-align: right;
  }
  .toast-error {
    background-color: #f04d64 !important;
    color: #fff !important;
  }
  form {
    mat-form-field {
      width: 100%;
      .mat-form-field-wrapper {
        padding-bottom: 5px !important;
      }
      .password-icons,
      .show-hide {
        position: absolute;
        left: 5px;
        top: 10px;
        span {
          margin: 3px;
          color: #2b2b2b;
        }
      }
    }
    // in login component
    .show-hide {
      right: auto;
      left: 20px;
      & > span.show:before {
        content: "عرض";
      }
      & > span:before {
        content: "إخفاء";
      }
    }
    div.errors-container {
      p.error-element {
        font-size: 75%;
        color: #f44336;
        &::before {
          font-family: "Font Awesome 5 Free";
          font-weight: 600;
          content: "\f06a";
          margin-left: 3px;
        }
      }
    }
  }

  .page-wrapper.compact-wrapper
    .page-body-wrapper.sidebar-icon
    .according-menu
    i {
    transform: rotate(180deg);
  }
  table {
    th,
    td {
      text-align: center;
      vertical-align: middle;
      mat-icon {
        cursor: pointer;
      }
    }
  }
}
.dropzone {
  &.is-invalid {
    border-color: red;
    margin-bottom: 20px;
    // i{
    //   color: red;
    // }
  }
}
table {
  a {
    span.icon {
      font-size: 20px;
    }
  }
}

.text-dager {
  color: red !important;
}

.mat-dialog-container {
  background: white;
  overflow: hidden;
}
.mat-menu-item:hover:not([disabled]) {
  background-color: #3824ae;
  color: #fff;
}
.panel {
  // background: linear-gradient(to right, #3824ae8c, #433693);
  background: linear-gradient(to right, #a7a1cb8c, #303030);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05);
}
.panel .panel-heading {
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

.panel .panel-heading .title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 40px;
  margin: 0;
}
.panel .panel-heading .btn {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover {
  color: #fff;
  text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}
.panel .panel-heading .form-control {
  color: #fff;
  background-color: transparent;
  width: 35%;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  outline: none;
}
.panel .panel-heading .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 500;
}
.panel .panel-body {
  padding: 0;
}
.panel .panel-body .table thead tr th {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  border: none;
  font-weight: bold;
}
.panel .panel-body .table tbody tr td {
  color: #fff;
  font-size: 15px;
  padding: 18px 12px;
  vertical-align: middle;
  border: none;
  font-weight: bold;
}
.panel .panel-body .table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}
.panel .panel-body .table tbody .action-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel .panel-body .table tbody .action-list li {
  display: inline-block;
  margin: 0 5px;
}
.panel .panel-body .table tbody .action-list li a {
  color: #fff;
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover {
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after {
  content: attr(data-tip);
  color: #fff;
  background-color: #111;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 4px;
  text-transform: capitalize;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -32px;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after {
  content: "";
  height: 15px;
  width: 15px;
  padding: 0;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -18px;
  z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after {
  display: block;
}
.panel .panel-footer {
  color: #fff;
  background-color: transparent;
  padding: 15px;
  border: none;
}
.panel .panel-footer .col {
  line-height: 35px;
}
.pagination {
  margin: 0;
}
.pagination li a {
  color: #fff;
  background-color: transparent;
  border: 2px solid transparent;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 31px;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0 3px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.pagination li a:hover {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.pagination li:first-child a,
.pagination li:last-child a {
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .panel .panel-heading .title {
    text-align: center;
    margin: 0 0 10px;
  }
  .panel .panel-heading .btn_group {
    text-align: center;
  }
}
.mat-form-field-appearance-fill .mat-form-field-underline::before,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field-ripple {
  display: none !important;
}
.table th,
.table td {
  border-top: transparent !important ;
}
