<section id="add-main-page">
  <!-- <div class="form-group">
    <label for=""> اسم الشركة </label>
    <select class="form-control p-1" (change)="getCompany($event.target.value)">
      <option></option>
      <option [value]="company.id" *ngFor="let company of companies">
        {{ company.name_ar }}
      </option>
    </select>
  </div> -->

  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-md-12">
        <div *ngIf="orders?.data">
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading py-5 text-center">
                  <div class="row">
                    <div class="col col-sm-12 col-xs-12">
                      <h4 class="title">
                        <span>جارى التواصل مع المورد </span>
                      </h4>
                    </div>
                  </div>
                </div>
                <div class="panel-body table-responsive">
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">رقم الطلب</th>
                        <th scope="col">اسم العميل</th>
                        <th scope="col">الايميل</th>
                        <th scope="col">رقم الهاتف</th>
                        <th scope="col">تاريخ الطلب</th>
                        <th scope="col">إعدادات</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders?.data; let i = index">
                        <th scope="row" class="text-light">
                          {{ order.order_refrence }}
                        </th>

                        <td>{{ order?.user?.name }}</td>
                        <td>{{ order?.user?.email }}</td>
                        <td>{{ order?.user?.phone }}</td>
                        <td>{{ order?.updated_at | date }}</td>
                        <!-- <td> <img style="width: 50px;height: 50px;border-radius: 50%;" src="{{order.imagePath}}" onerror="this.src='assets/images/image-not-found.svg'" alt=""></td> -->
                        <td>
                          <span>
                            <i
                              style="cursor: pointer"
                              class="fas fa-check text-success"
                              (click)="reciveOrder(order.id, '')"
                            ></i>
                          </span>

                          |

                          <span>
                            <i
                              style="cursor: pointer"
                              class="fa fa-times text-dager"
                              (click)="cancelOrder(order.id, '')"
                            ></i>
                          </span>
                          |

                          <span>
                            <i
                              style="cursor: pointer"
                              class="fa fa-comment-o text-primary"
                              (click)="addNote(order.id)"
                            ></i>
                          </span>
                          |
                          <i
                            class="fas fa-eye text-success"
                            style="cursor: pointer"
                            (click)="viewOrder(order)"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-placeholder
      *ngIf="showPlaceholder"
      [header]="['رقم الطلب', 'اسم العميل', ' الايميل', 'رقم الهاتف', 'Action']"
    ></app-placeholder>
  </div>

  <div
    class="pagination justify-content-center"
    *ngIf="orders?.data.length > 16"
  >
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li
          class="page-item"
          (click)="clientList(orders?.current_page - 1, 1, this.active)"
        >
          <a class="page-link text-success">Previous</a>
        </li>
        <li
          class="page-item"
          *ngFor="let order of orders.links; let i = index"
          (click)="clientList(i + 1, 1, this.active)"
        >
          <a
            class="page-link text-success"
            [class]="orders?.current_page == i + 1 ? 'page-active' : ''"
            >{{ i + 1 }}
          </a>
        </li>
        <li
          class="page-item"
          (click)="clientList(orders?.current_page + 1, 1, this.active)"
        >
          <a class="page-link text-success">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<section id="add-main-page" *ngIf="orders?.data.length == 0; showPlaceholder">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body text-center">
          <img
            src="../../../assets/images/No data-amico.svg"
            alt=""
            class="w-25"
          />
        </div>
      </div>
    </div>
  </div>
</section>
