<div class="register-container" data-aos="fade-up" data-aos-duration="1000">
  <h2 class="mb-5">{{ this.Data.title }}</h2>
  <form id="registerForm" [formGroup]="Form" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label class="mb-3 text-right">الأسم بالعربي</label>
      <input type="text" formControlName="name_ar" />
    </div>
    <div class="input-group">
      <label class="mb-3 text-right">الأسم بالانجليزية</label>
      <input type="text" formControlName="name_en" />
    </div>
    <div class="input-group">
      <label class="mb-3 text-right">الأسم بالصينية</label>
      <input type="text" formControlName="name_cn" />
    </div>
    <div class="actions">
      <button type="submit">{{ this.Data.button }}</button>
    </div>
  </form>
</div>
